html {
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/candle1.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/candle1.gif"), auto;
  }
  
  body {
        background-image: radial-gradient(rgba(255, 187, 0, 0), rgb(255, 187, 0));
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        font-family: 'Roboto Mono', monospace;
        font-size: 1vw;       
        }
  
  
  .hover {
    pointer-events: none;
    display: inline-block;
    position: absolute;
  }
  
  
  .meimg, .litimg, .eyeimg, .handimg, .stoicimg, .typeimg, .beerimg, .blankimg, .blodimg {
    
    max-width: 300%;
    max-height: 300%;
    display: none;
    position: fixed;
    image-orientation: center center;
    top:-5%;
    left: -5%;
    
  }
  
  .melink:hover+.meimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -100;
    max-width: 110%;
    height: auto;
  }
  
  .link{
    color: blue;
  }
  
  .hidden {
    display: none;
  }
  
  .wrapper {
    height: 100vh;
  }
  


  
  a:link {
    color:white;
    text-decoration: none;
    }
    a:visited {
    color:blue;
    text-decoration: none;
    }
    a:hover {
    color:yellow;
    text-decoration: none;
    }

    .row {
  
  position: inherit;
  float: right;
  /*width: 33.33%;*/
  background-color: none;
  padding-top:  1px;
  padding-left:  3px;
  padding-right:  3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  }
    
    
    .column {
      width: 100%;
    }