html {
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/candle1.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/candle1.gif"), auto;
  }
  
  body {
       

          background-image: radial-gradient(rgba(255, 187, 0, 0), rgb(255, 255, 255));

        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.3vw;
        
  }
  
  
  .hover {
    pointer-events: none;
    display: inline-block;
  
    position: absolute;
  }
  
  
  
  
  .meimg, .litimg, .eyeimg, .handimg, .stoicimg, .typeimg, .beerimg, .blankimg, .blodimg {
  
    max-width: 60vw;
    max-height: 60vw;
    display: none;
    /*
    position: absolute;
    top:10%;
    right: 33%;
    */
  }
  
  .melink:hover+.meimg {
    display: block;
  }
  
  .link{
    color: blue;
  }
  
  .hidden {
    display: none;
  }
  
  .wrapper {
    height: 100vh;
  }
  


  h1{
    position: relative;
    top: 1px;
    color: white;
    font-family: 'Faster One', cursive;
    font-size: 2.5vw;
  }
  
  
  a:link {
    color:white;
    text-decoration: none;
    }
    a:visited {
    color:blue;
    text-decoration: none;
    }
    a:hover {
    color:yellow;
    text-decoration: none;
    }
  
  
      h2 {
        color: white;
        display: inline-block;
        position: absolute;
        left: 2%;
        top: 33.33%;
        font-family: 'Nova Mono', monospace;
        font-size: 2.3vw;
        text-decoration: none;
        }
  /*
  h1:hover + h2{
      display: inline;
  }
  */
    .row {
  
  position: inherit;
  float: right;
  /*width: 33.33%;*/
  background-color: none;
  padding-top:  1px;
  padding-left:  3px;
  padding-right:  3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  }
    
    
    .column {
      width: 100%;
    }
